.ranch-card {
  width: 22rem;
  height: 35rem;
  border: 2px solid #5d07e9;
  transition: 400ms ease-in-out;
  margin: 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: width 0.5s;
}
.ranch-card:hover {
  box-shadow: 0px 8px 30px #ffff;
  border: none;
}
.card-img {
  width: 22rem;
  height: 25rem;
}
.card-img img {
  width: 100%;
  height: 100%;
}
.card-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.5rem;
}
.card-text h4 {
  font-weight: 700;
}
.card-text a {
  text-decoration: none;
  color: #fff;
}
.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-left: -1rem;
}
.nopadding {
  padding: 0 !important;
}
.riley h2 {
  font-weight: 700;
}
@media screen and (max-width: 800px) {
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .ranch-card {
    width: 95%;
  }
  .card-img {
    width: 100%;
  }
  .card-img img {
    width: 100%;
  }
}
