#Portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.porfolio {
  position: relative;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 15rem;
  gap: 2rem;
}
.portfolio-image img {
  height: 20rem;
  width: 15rem;
}

.folio-items {
  background-color: #00ffff;
  border-radius: 2rem;
  color: #020c1b;
  width: 15rem;
  height: 28rem;
  border: #00ffff 2px solid;
  transition: var(--transition);
  overflow: hidden;
  cursor: pointer;
  cursor: pointer;
}
.folio-items:hover {
  background: transparent;
  color: #d6f5fa;
  cursor: default;
  border: #5d07e9 3px solid;
  transition: transition;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 1.5;
}
.icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.icons a {
  display: flex;
  gap: 1rem;
  justify-content: center;
  border: #020c1b;
}
.btn-a {
  color: #020c1b;
  border-radius: 0.5rem;
  width: max-content;
  display: inline-block;
  padding: 0.75rem 1rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  #Portfolio {
    margin-top: -20rem;
  }
}
