.about {
}
.About {
  margin: 4rem;
}
h2 {
  text-align: center;
}

.imgBx {
  width: 100%;
  height: 100%;
  background: linear-gradient(25deg, transparent #00ffff);
  display: grid;
  margin-top: -4rem;
  border: #00ffff;
  cursor: pointer;
}
.box {
  margin-bottom: 4rem;
  margin-left: rem;
}

.imgBx img {
  border-radius: 2rem;
  width: 18rem;
  height: 20rem;
  border: solid;
  border-color: #0ffff7 solid;
  overflow: hidden;
  object-fit: cover;
  transform: rotate(10deg);
  transition: var(--transition);
}
.imgBx img:hover {
  z-index: 1;
  color: #5d07e9;
  transform: scale(1.25);
  box-shadow: 0 25px 40px rgb(58, 86, 87);
  transform: rotate(10);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.article-a {
  max-width: 10rem;
  min-width: none;
  width: 10rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  text-align: center;
  margin-top: -2rem;

  height: 6rem;
  color: #020c1b;
  background-color: #0ffff7;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
}

.article-a small {
  font-weight: 700;
}
.article-a:hover {
  background: transparent;
  border: #5d07e9 3px solid;
  color: #d6f5fa;
}

.icon {
  font-size: 0.95rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.decription p {
}
.decription a {
}
