.about {
  display: flex;
  align-items: center;
  justify-content: center;
}
h2 {
  text-align: center;
}
.text h2 {
  margin: 2rem;
}
.box {
  overflow: hidden;
  border: solid 2px #bc6b05;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 0.4rem;
}
.box img {
  border-radius: 2rem;
}

.color img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 1s ease;
}

.color img:hover {
  filter: grayscale(0%);
  filter: #060604;
  -webkit-filter: grayscale(0%);
  filter: none;
  transition: 1s ease;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 6rem;
  border-radius: 1rem;
  text-align: center;
  margin: 2rem;
  color: #020c1b;
  background-color: #bc6b05;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
}
.article-a h5 {
  font-size: 2rem;
}

.article-a small {
  font-weight: 700;
}
.article-a:hover {
  background: transparent;
  border: #5d07e9 3px solid;
  color: #d6f5fa;
}

.icon {
  font-size: 0.95rem;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}
.decription p {
  font-size: 1rem;
  font-weight: 500;
}
.btn span {
  margin: 0.5rem;
  font-size: 1rem;
}
