header {
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
  max-width: 100%;
}
.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
  margin-top: -10rem;
}

.main img {
  max-width: 100%;
}
.main {
  background-image: linear-gradient(to bottom, rgba(37, 34, 34, 0.5), #020c1b),
    url("../../assets/Roche.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.jr {
  margin-top: 2.5rem;
}
