/* .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0.75em 0.75em 1em rgba(207, 202, 202, 0.1);
  opacity: 0.6;
  background: #020c1b;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-right: 40rem;
}
nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  color: #00ffff;
  font-size: 1rem;
  align-items: center;
}
nav a:hover {
  background: #00ffff;
  color: #020c1b;
  transition: 400ms;
  border-radius: 0.5rem;
}
@media screen and (max-width: 1024px) {
  nav {
    margin-right: 40rem;
  }
}
@media screen and (max-width: 600px) {
  nav {
    margin-right: 10rem;
    position: fixed;
  }
} */
