@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
  width: 100vw;
  position: fixed;
  background: transparent;
  z-index: 1000;
  opacity: 0.7;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
}
.logo img {
  height: 100%;
  width: 100%;
}
.nav-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-one {
  padding-left: 0.8rem;
  cursor: progress;
}
.menu-one h6 {
  font-weight: 400;
  font-size: 1.25rem;
  font-family: "Lobster", cursive;
  transition: 400ms ease-in-out;
}
.menu-one h6:hover {
  color: #bc6b05;
}
.top-icon {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar {
    position: fixed;
  }
  .nav-elements {
    display: flex;
    flex-direction: column;
    display: none;
  }
  .top-icon {
    display: block;
  }
}
