.footer {
  background: transparent;
  color: #ffffff;
}
.social {
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: 400ms ease-in-out;
}

.social a {
  color: #ffffff;
  font-weight: 400;
  transition: 400ms;
  padding: 1rem;
  height: 1rem;
  width: 1rem;
}
.social a :hover {
  color: #bc6b05;
  cursor: pointer;
}

.copy small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
