.front-end-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(8, 14, 44, 0.6);
  box-shadow: 0px 8px 30px #323b3c;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  transition: 400ms ease-in-out;
  transition: width 0.5s;
  transition-timing-function: linear;
  margin: 1rem;
  border: #6c7a7c solid 1px;
}
.front-end-card:hover {
  width: 350px;
  background: #bc6b05;
  border: #020c1b 1px solid;
  color: #020c1b;
  box-shadow: none;
}
.front-end-card h4 {
  font-weight: 700;
  font-size: 1rem;
}
.front-end-card img {
  width: 5rem;
  height: 5rem;
}
.front-container h3 {
  text-align: center;
}
/* .front-end {
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 0.5rem;
} */
@media screen and (max-width: 600px) {
  .front-end-card {
    width: 95%;
  }
}
