.front-end-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
  box-shadow: 0px 8px 30px #323b3c;
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
  transition: 400ms ease-in-out;
  transition: width 0.5s;
  transition-timing-function: linear;
  margin: 1rem;
}
.front-end-card:hover {
  width: 350px;
  background: #00ffff;
  color: #020c1b;
  box-shadow: none;
}
.front-end-card h4 {
  font-weight: 700;
  font-size: 1rem;
}
.front-end-card img {
  width: 5rem;
  height: 5rem;
}
.front-container h3 {
  text-align: center;
}
.front-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .front-end-card {
    width: 80%;
  }
}
