#Experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills {
  background: #0ffff7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  color: #020c1b;
  border-radius: 2rem;
  border: 2px solid transparent;
  text-align: center;
}
.skills:hover {
  background: transparent;
  color: #d6f5fa;
  cursor: default;
  border-color: #5d07e9;
}
.experience-info {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.dev h3 {
  color: #020c1b;
}
.dev h3:hover {
  color: #d6f5fa;
}
