@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Dancing+Script:wght@600&family=Lobster&family=Trocchi&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --transition: all 400ms ease-in-out;
  --container-width-jf: 75%;
  --container-width-rh: 86%;
  --container-width-sn: 98%;
}
body {
  background-image: url("././assets/bilder.jpeg");

  background-repeat: repeat;
  height: 100vh;
  background-attachment: fixed;
  background-size: contain;
  background-position: center;
  color: #d6f5fa;
  font-family: "Asap", sans-serif;
  line-height: 1.7;
  flex-wrap: wrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 h2 h3 h4 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-weight: 700;
}
section > h2 section > h5 {
  text-align: center;
}
section {
  margin-bottom: 2rem;
}
a {
  color: #bc6b05;
  transition: var(--transition);
}
a:hover {
  color: #fff;
}

.btn {
  width: max-content;
  display: inline-block;
  color: #d6f5fa;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid #f2b76e;
  transition: var(--transition);
  font-weight: 700;
}
.btn:hover {
  background-color: rgb(58, 86, 87);
  color: #5d07e9;
}
