nav {
  position: fixed;
  top: 0;
  left: 75%;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1.5rem; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  background: #020c1b;
}
nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: #00ffff;
  font-size: 1rem;
}
nav a:hover {
  background: #00ffff;
  transition: 0.7s;
}
.tooltip {
  position: absolute;
  transform: translateX(-50%);
  white-space: nowrap;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.tooltip::before {
  content: "";
  position: absolute;
  transform: translateX(-50%);
  border-color: #00ffff #00ffff #00ffff #00ffff;
}
.nav a:hover .tooltip {
  top: 130%;
  visibility: visible;
  opacity: 1;
}
