.container-a {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 30% 60%;
  gap: 12rem;
  margin-left: 100px;
}
.contact {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}
.contact-options {
  display: flex;
  flex-direction: column;
  color: #020c1b;
  text-decoration: none;
  gap: 1.2rem;
  margin: 0.5rem;
}
.contact-option a {
  text-decoration: none;
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.9rem;
}
.contact-option {
  width:15rem
  background-color: #0ffff7;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  overflow: hidden;
  transition: var(--transition);
}
.contact-option a {
  color: #5d07e9;
  margin-bottom: 1rem;
}

.contact-option:hover {
  background: transparent;
  border: #5d07e9 3px solid;
  color: #d6f5fa;
  transition: transition;
}
.contact-option i {
  font-size: 2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0.5rem;
}
.btn {
  position: relative;
  width: 12rem;
  height: 3rem;
  background: transparent;
  color: #d6f5fa;
  border-color: #00ffff;
  margin-top: 20px;
  cursor: pointer;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr;
  }
}
